



<section class="contact-form">
  <h1>Take your first step towards unlocking your academic potential!</h1>
      <%= simple_form_for @contact do |f| %>
    <div class="name-flex">
      <%= f.input :first_name  %>
      <%= f.input :last_name, label: "Last name (optional)"  %>
      </div>
      <%= f.input :email %>
      <%= f.input :phone, label: "Phone (optional)" %>

      <%= f.input :message, label: "Message (optional)" %>
      <%= f.button :submit, "Submit" %>
    <% end %>
  </section>
