
<p>We received a new message from
  <%= @contact.first_name %>
   <% if @contact.last_name.present %>
   <%= @contact.last_name %>
   <% end %>.
 </p>

 <p>Here is the complete info they've sent: <br>
    <%= @contact.first_name %> <br>
    <%= @contact.last_name %> <br>
    <%= @contact.email %> <br>
    <%= @contact.phone %> <br>
    <%= @contact.message %>
 </p>

<p>Let's follow up as soon as possible!</p>
