<!DOCTYPE html>
<html>
  <head>
    <title>Zev Fagin, Tutor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
      <%= link_to root_path do %>
      <h1 style="text-transform: none;">Zev Fagin</h1>
      <% end %>
      <div class="">
        <%= link_to "About", about_path %>
        <%= link_to "Subjects", subjects_path %>
        <%= link_to "Testimonials", testimonials_path %>
        <%= link_to "Pricing", pricing_path %>
        <div class="contact-box"><%= link_to "Contact", new_contact_path %></div>
      </div>
    </nav>
  </header>

  <body>
    <div id="page-container">
      <div id="content-wrap">

        <main>
        <%= yield %>
        </main>

    <footer class="footer-flex" id="footer">
      <p>© 2021 Zev Aaron</p>
      <p>Privacy Policy</p>
      <p>Terms of Use</p>
    </footer>
  </div>
  </div>
  </body>

</html>
