<!DOCTYPE html>
<html>
  <head>
    <title>Zev Fagin, Tutor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
      <%= link_to root_path do %>
      <h1 style="text-transform: none;">Zev Fagin</h1>
      <% end %>
        <div class="">
          <%= link_to "About", about_path %>
          <%= link_to "Subjects", subjects_path %>
          <%= link_to "Testimonials", testimonials_path %>
          <%= link_to "Pricing", pricing_path %>
          <div class="inline-flex">
            <div class="" style="padding-bottom: 12px; text-align: center;">(646)474-0878</div>
            <div class="contact-box" onclick="toggle();"><%= link_to "Contact", contact_path %></div>
          </div>
      </div>
    </nav>
  </header>

  <body>
    <div id="page-container">
      <div id="content-wrap">

        <main>
          <div class="popUp" id="popUpContact">
              <!-- <span class="close" onclick="toggle();">Close</span> -->
              
          </div>
        <%= yield %>
        </main>

    <footer class="footer-flex" id="footer">
      <p>© 2021 Zev Aaron</p>
      <p>Privacy Policy</p>
      <p>Terms of Use</p>
    </footer>
  </div>
  </div>

      <script type="text/javascript">
                  function toggle() {
                  var popup= document.querySelector(".popUp")
                  popup.classList.toggle("active")
                }
      </script>
  </body>

</html>
