<!DOCTYPE html>
<html>
  <head>
    <title>Zev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
      <h1>Zev Aaron</h1>
      <div class="">
        <span>Home</span>
        <span>About</span>
        <span>Testimonials</span>
        <span>Subjects</span>
        <span>Pricing</span>
        <span>Contact</span>
      </div>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
